@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
body{
    background-color: hsl(216, 12%, 8%);
}
.container{
    margin-top: 6.25rem;
    width: 100%; 
}
.section{
    max-width: 30%;
    max-width: 25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; 
    justify-content: center; */
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    background-color:hsl(213, 19%, 18%);
    padding: 6%;
    border-radius: 6%;
    flex-wrap: wrap;
}
.logo{
    width: 100%;
    padding: 0 0 5% 0;
}
.btn-numbers-logo{
    padding: 5% 5% 4% 5%;
    border: none;
    border-radius: 50%;
    background-color: hsl(213deg, 20%, 22%);
    color :hsl(0, 0%, 100%);
    flex-wrap: wrap;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}
.header{
    width: 100%;
    padding: 0 0 5% 0;
    color: white;
    font-family: 'Overpass', sans-serif;
}
.paragraph{
    width: 100%;
    padding: 0 0 8% 0;
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-size: .9375rem;
}
.numbers{
    width: 100%;
    padding: 0 0 7% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content:space-around;
}
.btn-numbers{
    /* width: 100%; */
    padding: 6% 7% 6% 7%;
    border: none;
    border-radius: 50%;
    background-color: hsl(213deg, 20%, 22%);
    color :hsl(0, 0%, 100%);
    flex-wrap: wrap;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}
.btn-numbers:hover{
    background-color:  hsl(25, 97%, 53%);
    transition: 0.3s;
}

.button{
    width: 100%;
    padding: 0 0 5% 0;
    align-self: center;
    
}
.btn{
    width: 100%;
    height: 3.125rem;
    border: none;
    border-radius: 1.875rem;
    color:white;
    background-color: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    letter-spacing: .1875rem;
}
.btn:hover{
    background-color: white;
    color:hsl(25, 97%, 53%);
    transition: 0.3s;
}
/**** THANKS SIDE ****/

.card-thx{
    background-color:hsl(213, 19%, 18%);
    padding: 6%;
    border-radius: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo-thx{
    padding: 0 0 8% 0;
}
.header-thx{
    width: 100%;
    padding: 0 0 5% 0;
    color: white;
    font-family: 'Overpass', sans-serif;
}
.info-thx{
    padding: 0 0 8% 0;
    color:hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    font-size: .75rem
}
.paragraph-thanks{
    padding: 0 0 4% 0;
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-size: .9375rem;
}
.hidden{
    display: none;
}